body {
  @apply p-8 pb-0 min-h-screen font-alegreya;
}

.col-span-13 { grid-column: span 13 / span 13; }
.col-span-14 { grid-column: span 14 / span 14; }
.col-span-15 { grid-column: span 15 / span 15; }
.col-span-16 { grid-column: span 16 / span 16; }

#root {
  @apply min-h-[calc(100vh-4rem)];
}

.content-wrapper .adjust-height {
  @apply min-h-[calc(100vh-8.5rem)];
}

.surah-window {
  @apply overflow-x-hidden overflow-y-scroll max-h-[calc(100vh-28em)];
}

svg {
  @apply overflow-visible transition-all duration-300 ease-in-out;
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 4s ease infinite alternate;
  -moz-animation: animatedgradient 4s ease infinite alternate;
  animation: animatedgradient 4s ease infinite alternate;
}

#waveform > wave:not(:first-child) {
  @apply !hidden;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}